# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Firebase credentials
serviceAccountKey.json



# Gradio temporary files
.gradio/

# Environment variables
.env

# IDE files
.vscode/
.idea/